html, body, #app {
    --evergreen: rgb(0, 80, 47);
    margin: 0;
    margin-left: 2px;
    width: 100%;
    color: var(--evergreen);
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
     
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

h1, h3, input, button, li {
    font-size: 20px;
    margin: 2px;
}

h1 {
    font-size: 30px;
}

button {
    margin: 1px 4px;
}

button:hover {
    color: orangered;
    background: transparent;
    border: solid 1px var(--evergreen);
}

